<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mayaoting.springcloud.dao.PurductDao">
    <resultMap type="Purduct" id="PurductMap">
        <id property="pid" column="pid" />
        <result property="productName" column="product_name" />
        <result property="dbSource" column="db_source" />
    </resultMap>
    <insert id="add" parameterType="Purduct"> INSERT INTO product(product_name, db_source) VALUES(#{productName}, DATABASE()); </insert>
    <select id="get" resultMap="PurductMap"
            parameterType="Long"> select pid, product_name, db_source from product where pid=#{pid};
    </select>
    <select id="list"  resultMap="PurductMap"> select pid, product_name, db_source from product; </select>
</mapper>